@media (min-width: 700px) {
    header {
        grid-template-columns: 2fr 3fr;
    }

    header h1 {
        text-align: left;
    }

    .hidden {
        display: block;
    }

    #menu {
        display: none;
    }

    .navigation {
        flex-direction: row;
    }

    .navigation a {
        display: block;
        flex: 1 1 100%;
    }

    main section {
        grid-template-columns: 1fr 1fr;
    }

    .restaurants picture {
        grid-column: 1/2;
    }

    .restaurants h2 {
        grid-column: 2/3;
    }

    .sights picture {
        grid-column: 2/3;
    }

    .sights h2 {
        grid-column: 1/2;
    }
}