:root {
    --primary-color: #20925d;
    --secondary-color: #fff0d4;
    /*--secondary-color: #ccf6ff;*/
    --body-font: "Montserrat", sans-serif;
    --title-font: "Roboto Mono", monospace;
}

* {
    margin: 0;
    font-family: var(--body-font);
}

header {
    display: grid;
    background-color: var(--primary-color);
}

header h1 {
    padding: 1.5rem;
    color: white;
    font-family: var(--title-font);
    text-align: center;
}

.hidden {
    display: none;
}

#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: white;
    position: absolute;
    top: 1rem;
    right: 1rem;
    appearance: none;
}

#menu::before {
    content: "☰";
    appearance: none;
}

#menu.open {
    top: 1.2rem;
    right: 1.2rem;
}

#menu.open::before {
    content: "X";
}

.navigation {
    display: flex;
    flex-direction: column;
}

.navigation a {
    display: none;
    padding: 2rem 0;
    text-align: center;
    text-decoration: none;
    font-size: 1.4rem;
    color: #fff;
}

.navigation a:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.active::before,
.active::after {
    content: "☆";
}

.open a {
    display: block;
}

main {
    width: 90%;
    max-width: 1044px;
    margin: 0 auto;
}

main section {
    display: grid;
    padding: 1rem;
    margin-top: 2rem;
}

main section h2,
main section h1,
main section h2 a {
    text-align: center;
    color: var(--primary-color);
    text-decoration: none;
}

.restaurants h2,
.sights h2 {
    font-size: 1.7rem;
    margin-top: 0.5rem;
}

.restaurants p,
.sights p {
    color: var(--primary-color);
    margin-top: 1rem;
    font-size: 1.05rem;
}

img {
    display: block;
    margin: auto;
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 6px;
    border: 1px solid var(--primary-color);
}

.sights picture {
    grid-row: 1/2;
}

.sights h2 {
    grid-row: 2/3;
}

#filter {
    margin-top: 2rem;
    padding: 0.8rem;
    font-size: 1.2rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 15px;
}

.list-item {
    display: block;
    background-color: var(--secondary-color);
    border-radius: 6px;
}

.list-item h2 {
    margin-top: 0.5rem;
}

.list-item p {
    text-align: center;
    color: var(--primary-color);
    font-size: 1.4rem;
}

.wf1 {
    margin: auto;
    width: 60%;
    min-width: 350px;
}

.wf1 fieldset {
    background-color: var(--secondary-color);
    border: none;
    border-radius: 6px;
    padding: 0 2rem 1rem 2rem;
}

.wf1 label {
    display: block;
    margin-top: 1rem;
}

.wf1 input[type=email],
.wf1 input[type=text] {
    display: block;
    width: 100%;
    padding: 1rem 0;
    border: 1px solid #555;
    border-radius: 3px;
}

.wf1 input[type=submit] {
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
    background-color: var(--primary-color);
    color: white;
    font-size: 1.2rem;
    border-radius: 3px;
    border: 1px solid #555;
}

.wf1 input:required {
    border-bottom: solid 4px red;
}

.wf1 input:required:valid {
    border-bottom: solid 4px green;
}

#subscribe-again {
    width: 60%;
    min-width: 350px;
    padding: 1rem;
    margin: auto;
    background-color: var(--primary-color);
    color: white;
    font-size: 1.2rem;
    border-radius: 3px;
    border: 1px solid #555;
}

#thanks {
    display: block;
    height: 400px;
    background-color: var(--secondary-color);
    border-radius: 6px;
}

#thanks h1 {
    font-size: 3rem;
    margin-top: 50px;
}

#thanks h2 {
    font-size: 1.4rem;
    margin-top: 100px;
}

footer {
    margin-top: 2rem;
    padding: 1.5rem;
    background-color: var(--primary-color);
    color: white;
    text-align: center;
}