* {
    margin: 0;
    padding: 0;
}

body {
    margin: auto;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
}

p {
    font-size: 1.2rem;
    margin: 10px;
}

/* header section */

header {
    background-color: rgb(70, 70, 70);
}

h1 {
    margin: auto;
    padding: 10px;
    text-align: center;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

#menu {
    font-size: 2rem;
    border: 0;
    background: none;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#menu::before {
    content: "☰";
    margin-bottom: 10px;
}

#menu.open::before {
    content: "×";
    font-size: 2.5rem;
}

.navigation {
    margin: auto;
    background-color: black;
}

.navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.navigation a:hover {
    text-decoration: overline double;
    background-color: gray;
    border: 1px solid white;
}

.open a {
    margin: auto;
    display: block;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    color: white;
    border: 1px solid black;
    transition: .5s ease;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

/* main section */

main {
    max-width: 95%;
    margin: 15px auto;
    display: grid;
    column-gap: 15px;
    row-gap: 15px;
}

.card {
    border: 1px solid rgb(70, 70, 70);
    border-radius: 10px;
    overflow: hidden;
}

.card-h2 {
    text-align: center;
    background-color: rgb(70, 70, 70);
    color: white;
    margin: auto;
    padding: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

#always-flex {
    display: flex;
}

.card-flex {
    align-items: center;
}

#profile {
    width: 150px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid rgb(70, 70, 70);
}

.title-separator h2 {
    text-align: center;
    margin: auto;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.title-separator hr {
    width: 80%;
    margin: auto;
    margin-bottom: 5px;
}

.card-flex figure {
    margin: 10px;
}

#flag {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    border-radius: 5px;
    border: 1px solid rgb(70, 70, 70);
}

.card-flex figcaption {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.card ul {
    margin: 0;
    position: relative;
    top: 37%;
    left: 75%;
    transform: translate(-50%, -50%);
    padding: 5px 30px;
}

.card li {
    margin: 10px 0;
}

.card a {
    font-size: 1.4rem;
}

/* footer section */

footer {
    background-color: rgb(70, 70, 70);
    padding: 20px;
}

footer p {
    margin: auto;
    text-align: center;
    color: white;
}

#lastModified {
    color: aquamarine;
    font-size: 1rem;
    margin-top: 5px;
}