@media (min-width: 559px) {

    header h1 {
        font-size: 3rem;
    }

    main section {
        background-color: white;
        opacity: 90%;
    }

    #hero img {
        padding: 0;
    }

    #data {
        position: absolute;
        top: 25%;
        left: 2%;
        box-shadow: 5px 5px 20px black;
    }

    main hr {
        display: none;
    }

    #weather {
        position: absolute;
        bottom: -20%;
        right: 2%;
        box-shadow: -5px -5px 20px black;
    }

    main h2 {
        margin: auto;
        position: relative;
        top: 10px;
        right: 10px;
        background-color: var(--color-red);
        color: white;
        text-align: left;
        padding: 1rem;
    }

    #weather h2::after {
        content: " ⛅";
    }

    main img {
        display: none;
    }

    footer p {
        font-size: 1rem;
    }
}