:root {
    --color-red: #C8102E;
    --color-green: #006341;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

header {
    background-color: var(--color-green);
    padding: 1.5rem;
}

header h1 {
    color: white;
    text-align: center;
}

#hero {
    padding-top: 20px;
    background-color: var(--color-red);
}

#hero img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
    background-color: var(--color-green);
}

main h2 {
    text-align: center;
    margin: 1rem auto;
    font-size: 2rem;
}

main section div {
    text-align: center;
    margin-bottom: 1rem;
}

main section div:first-of-type {
    margin-top: 1rem;
}

main section div span {
    display: inline-block;
    width: 150px;
    text-align: left;
    font-weight: bold;
}

main section div span:first-of-type {
    text-align: right;
    font-weight: bold;
}

main section div span:last-of-type {
    font-weight: normal;
}

main hr {
    border: 0;
    border-top: 1px solid #eee;
}

main img {
    display: block;
    margin: auto;
}

footer {
    background-color: var(--color-green);
    padding: 1rem;
}

footer p {
    color: white;
    text-align: center;
    font-size: 1.2rem;
}